<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperStore</title>
    <link rel="stylesheet" href="../static/css/predict.css">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family='Inconsolata', monospace;"> -->

</head>

<body>
    <h2 style="color:rgb(222, 91, 20);"> SuperStore</h2>
    <h2 style="color:rgb(123, 235, 233);"> Sales Predictions</h2>
    <br>
    <h2 style="color:rgb(217, 224, 212);">{{ prediction_text }}</h2>
    <br>
    <a href="/" id="home"><button>Return to Homepage</button></a>
</body>

</html>